<!DOCTYPE html>
<html>
<head>
	<title>News Article App</title>
	<link rel="stylesheet" href="/styles/main.scss">
</head>
<body>
	<div>
		<h2>This is news Article App</h2>
		<button onclick="Client.testing()">Click Me</button>
	</div>

	<div>
		<form onsubmit="Client.performAction(event)" id="form">
			<input type="text" name="text" placeholder="Write your text Here" id="inputField" />
			<input type="submit" value="Analyse Text" />

		</form>
	</div>

	<segment>
		<div id="result">
			<p>No of Sentences <span id="nos"></span></p>
			<p>Subjectivity <span id="subjectivity"></span></p>
			<p>agreement <span id="agreement"></span></p>

		</div>

	</segment>

</body>
</html>