/*Footer*/

#footer {
	background-color: #2e3b30;
	color: #e6fae7;
	grid-area: footer;
	height: 50px;
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 30px;
}

.icons {
	font-size: 1.2rem;
	color: #fff;
	margin: 5px 5px;
	transition: font-size 0.3s;

	&:hover {
		font-size: 1.4rem;
	}
}

.credit {
	margin-top: 5px;
	height: 20px;
	padding-bottom: 20px;
}

/*Footer*/
